body{
	background-image: url(image/bg_full.png);
	background-repeat: no-repeat;
	background-size: cover;
}

canvas {
    display: block;
    margin: auto;
    margin-top: 260px;
    border: 5px solid #00796B;
}

#playbutton {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    outline:none;
    overflow: hidden;
    border: none;
    cursor: pointer;
    border: none;
}

.menu{
    text-align: center;
}

.playbuttons {
    display: inline-block;
    border: none;
}

.window {
    text-align: center;
    width: 600px;
    height: 400px;
    position: absolute;
    padding-top: 50px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    border: none;

}

/*button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}*/